// colors
$dark-green: #2A6864;
$light-green: #ACDEA4;
$orange: #C84C16;
$yellow: #FFCD1D;
$violet: #27123C;
$grey: #E5E5E5;
$white: #FFFFFF;
$cream: #FBF3E8;

// fonts
$chantal-font: chantal, sans-serif;
$chelsea-font: 'Chelsea Market', cursive;